.productInfo-page {
    padding-top: 150px;
    min-height: 100vh;
    display: flex;
    width: 70%;
    margin: 0 auto;
    max-width: 1200px;
}
.left-page {
    width: fit-content;
}
.product-pic {
    width: 450px;
    height: 450px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}
.right-page 
{
   width: 50%; 
   margin-left: 28px;
}
.productInfo-title {
    font-size: 32px;
    font-weight: 500;
    color: #333;
}
.productInfo-price {
    margin-top: 16px;
    font-size: 26px;
    font-weight: 600;
    color: rgb(193, 1, 1);
}
.separate-line {
    margin-top: 16px;
    height: 2px;
    background-color: #9d9d9d;
}
.productInfo-text {
    margin-top: 16px;
    font-size: 20px;
    color: #333;
}
.add-to-cart-btn {
    margin-top: 20px;
    border: none;
    font-size: 20px;
    padding: 8px;
    font-weight: 500;
    background-color: rgb(193, 1, 1);
    color: #fff;
    cursor: pointer;
}
.buy-btn {
    margin-top: 20px;
    border: none;
    font-size: 20px;
    padding: 8px;
    font-weight: 500;
    background-color: rgb(193, 1, 1);
    color: #fff;
    margin-left: 16px;
    cursor: pointer;
}
.buy-btn:hover, .add-to-cart-btn:hover {
    transition: opacity .3s;
    opacity: .8;
}
@media (min-width: 681px ) and (max-width: 1200px) {
    .productInfo-page {
        flex-wrap: wrap;  
        justify-content: space-around;
    }
    .left-page {
        width: 90%;
        height: 450px;
    }
    .right-page {
        width: 90%;
        margin-left: 0;
    }
}
@media (min-width: 350px ) and (max-width: 680px) {
    .productInfo-page {
        padding-top: 50px;
        flex-wrap: wrap;  
        justify-content: space-around;
        width: 98%;
    }
    .product-pic {
        width: 90%;
        height: 450px;
    }
    .left-page {
        width: 90%;
        height: 350px;
    }
    .right-page {
        width: 90%;
        margin-left: 0;
    }
}
