@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

* {
    font-family: 'Roboto', sans-serif;
    color: #333;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
}


/* @media (min-width: ) and (max-width: ) {
    
} */